<div class="read-more">
    <div class="read-more-header">
      <a href="{{ site.url }}{{ page.previous.url }}" class="read-more-btn">关注我们</a>
    </div><!-- /.read-more-header -->
  <div class="read-more-list">
      <div class="list-item">
        <h4>微信公众号id:  suomeen</h4>
        <span><img src="/images/weixin_qrcode.jpg" alt=""></span>
      </div><!-- /.list-item -->
      <div class="list-item">
        <h4>新浪微博id:  天天学芬兰语</h4>
        <span><img src="/images/weibo_qrcode.jpg" alt=""><</span>
      </div><!-- /.list-item -->
  </div><!-- /.read-more-list -->
</div><!-- /.read-more -->
