<div class="social-share">
  <ul class="socialcount socialcount-small inline-list">
    <li>文章分享到: </li>
    <li class="weibo"><a href="http://service.weibo.com/share/share.php?url=http%3A%2F%2Fopisuomea.com{{ page.url }}&title=%E6%8E%A8%E8%8D%90%E4%B8%80%E4%B8%AA%E5%A5%BD%E7%9A%84%E5%AD%A6%E4%B9%A0%E8%8A%AC%E5%85%B0%E8%AF%AD%E7%9A%84%E7%BD%91%E7%AB%99%E3%80%80%EF%BC%A0%E5%A4%A9%E5%A4%A9%E5%AD%A6%E8%8A%AC%E5%85%B0%E8%AF%AD&pic=http://opisuomea.com/images/weibo_qrcode.jpg&appke" target="_blank" title="Share on weibo"><span class="count"><i class="fa fa-weibo"></i></span></a></li>
    <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=http://opisuomea.com{{ page.url }}" target="_blank" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i></span></a></li>
    <li class="twitter"><a href="https://twitter.com/intent/tweet?text=http://opisuomea.com{{ page.url }}" target="_blank" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i></span></a></li>
  </ul>
</div><!-- /.social-share -->
